<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Bruno Moreira</h2>
      <h4>bruno@followize.com.br</h4>
    </div>
    <img src="https://www.flaticon.com/svg/static/icons/svg/21/21104.svg" alt="Bruno Moreira" >
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Início</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Gráficos</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Pedidos</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Cadastros</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Clientes</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Produtos</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pedidos</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Realizar um novo Pedido</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Visualizar Pedidos</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>book_online</mat-icon>
    Empresa
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/leads">
    <mat-icon>exit_to_app</mat-icon>
    Sair
  </a>

</mat-nav-list>
